//Borders, Backgrounds
$light-grey-1: #cccccc;
$light-grey-2: #eeeeee;
$not-so-white: #f9f9f9;

//Links
$dark-sky-blue: #4a90e2;
$blue-1: #2e80e1;
$blue-2: #2262ac;

//Text
$battleship-grey: #787a80;
$cool-grey: #a8aab3;
$dark-grey: #242526;
$light-grey: #808080;

//Icons
$blue-icon-1: #4190e2;

// Warnings, errors
$coral-pink: #ff585d;
